---
layout: handbook-page-toc
title: "Reliability:General Team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

## Mission

The General Team supports the Reliability Team's [overall vision](/handbook/engineering/infrastructure/team/reliability/#vision) by supporting services for GitLab.com that do not fit the mission of the other [Reliability Teams](/handbook/engineering/infrastructure/team/reliability/#reliability-teams). See the [dedicated General Team Page](/handbook/engineering/infrastructure/team/reliability/general.html) for more details.

## Vision

The General Team exists to ensure that all services at GitLab are properly supported by either providing that support directly or routing requests for new work to the appropriate [Reliability team](/handbook/engineering/infrastructure/team/reliability/#reliability-teams) while also being the primary operators and maintainers of the GitLab.com application.  In the short-term (12-24 months), the goal is shrink the overall pool of what we call "General" by assigning ownership of services to Standing Squads so that full attention can be paid to the processes, frameworks, architecture and automation required to properly support the GitLab.com application in the long term (24+ months).

## Ownership

### Services
The General Team is assigned issues based on the services they own.  This currently includes:

| Service | Description |
| ------- | ----------- |
| Sidekiq | GitLab.com Application|
| API | GitLab.com Application |
| Snowplow | GitLab.com Application |
| PackageCloud | GitLab.com Application |
| Pages | GitLab.com Application |
| Git | GitLab.com Application |
| GitLab Rails | GitLab.com Application |
| Security-response | The General Team is responsible for coordinating the work for security issues that involve other services that are owned by the General Team.    |
| Infrastructure | This is a broad category to include any work <br> where a service label cannot be assigned or <br> created. |
| KAS | This service has no permanent team assigned |

### Overlap
It is not always easy or possible to definitively determine the primary services associated with an issue, incident, or other piece of work.  When there is a lack of clarity, General Team members should collaborate with other Reliability Teams to determine the best path forward.  If necessary reach out to any Reliability Engineering Manager for assistance.

## Performance Indicators

 * OKRs - OKRs are generated each quarter based on current commitments while also including spare capacity for unplanned work.
   * Success Criteria: 85% of OKRs achieved
 * Issue Metrics
   * Corrective Actions Over Time (specific to the General Team)
     * Success Criteria: Must meet or exceed the Reliability [SLO](https://about.gitlab.com/handbook/engineering/infrastructure/team/reliability/issues.html#service-level-agreements)
   * Lead Time
     * Success Criteria: Meets or exceeds current [Reliability SLO](https://about.gitlab.com/handbook/engineering/infrastructure/team/reliability/issues.html#service-level-agreements)
 * Customer Satisfaction
    * Success Criteria: TBD

## Team Members

<%= direct_team(manager_slug: 'afappiano')%>

## Key Technical Skills
The General Team must maintain a broad and diverse set of technical skills while also maintaining the ability to switch contexts frequently.  Some of these technical skills include:

 * Software engineering - Proficiency in one or more programming languages and experience with software development methodologies.

 * Systems administration - Knowledge of operating systems and experience with tasks such as installing and configuring software, managing users and permissions, and setting up and maintaining network services.

 * Network and Application Security and Compliance - Understanding of network security concepts and experience penetration testing and vulnerability assessment.

## Common Links

 * Issue Board: [All issue by priority](https://gitlab.com/gitlab-com/gl-infra/reliability/-/boards/3993753?label_name%5B%5D=team%3A%3AGeneral)
 * Slack Channel: #g_infra_general
